@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  
}

:root{
  --primary-color: #222260;
  --primary-color2: rgba(34,34,96,.6);
  --primary-color3:  rgba(34,34,96,.4);
  --color-green: #42AD00;
  --color-grey: #aaa;
  --color-accent: rgb(177, 82, 245);
  --color-delete: #FF0000;
}

body{
  font-family: "Nunito Sans", sans-serif;
  font-size: clamp(1rem,1.5vw,1.2rem);
  overflow: hidden;
  color: rgba(34,34,96,.6);
  background: rgba(242, 214, 255,0.9);
}

.primary-color2{
  color: var(--color-grey);
}

h1, h2, h3, h4, h5, h6{
    color: var(--primary-color)
  }
body::-webkit-scrollbar {
  display: none;
}